.Rproj.user
.Rhistory
.RData
.Ruserdata
Lego.Rproj
README_cache
GoldenGirls.gif
GoldenGirls2.gif
GoldenGirls3.gif
0_rendergif.R
99_Rayshader.R
beaarthur.mp4
WarholBea.png
0_PkgSetup.R
logomovie.mp4
logoweb.mp4
sets
1_CreateLogo.R
1_CreateSet.R
1_CreateSet_Penguin.R
1_CreateSet_Rocket.R
1_CreateSet_Trex.R
housemovie.mp4
houseweb.mp4
penguinmovie.mp4
penguinweb.mp4
rocketmovie.mp4
rocketmovie2.mp4
rocketweb.mp4
rocketweb2.mp4
trexmovie.mp4
trexweb.mp4
