.Rproj.user
.Rhistory
.RData
.Ruserdata
Lego.Rproj
README_cache
GoldenGirls.gif
GoldenGirls2.gif
GoldenGirls3.gif
0_rendergif.R
99_Rayshader.R
beaarthur.mp4
WarholBea.png
0_PkgSetup.R
logomovie.mp4
logoweb.mp4
sets
1_CreateLogo.R
1_CreateSet.R
1_CreateSet_Penguin.R
1_CreateSet_Rocket.R
1_CreateSet_Trex.R
housemovie.mp4
houseweb.mp4
penguinmovie.mp4
penguinweb.mp4
rocketmovie.mp4
rocketmovie2.mp4
rocketweb.mp4
rocketweb2.mp4
trexmovie.mp4
trexweb.mp4
logo
logo_orig.png
logo_hex.png
1_CreateSetM_Lady.R
1_CreateSetM_bricks.R
1_CreateSetM_giraffe.R
1_CreateSetP_sphere.R
1_CreateSet_UFO.R
GG_fewer_pieces.png
ufomovie.mp4
ufoweb.mp4
1_CreateSet_UFO2.R
ufomovie2.mp4
ufoweb2.mp4
0_CreateMosaic.R
1_CreateSet_Brickr.R
brickrmovie.mp4
brickrmovie2.mp4
brickrweb.mp4
brickrweb2.mp4
2_Example_0_basic.R
2_Example_Owl.R
2_Example_Sphere.R
2_Example_StPatricksDay.R
98_dput_tribble.R
2_Example_Plot_Titanic.R
2_Example_RandomForest.R
2_Example_Ryan.R
ryanmovie.mp4
ryanweb.mp4
forestmovie.mp4
forestweb.mp4
